.Side-bar
  .Side-bar__LeftHeader
    .Side-bar__LeftHeader__List
      %p masa
      .Side-bar__LeftHeader__List__Username
      .Side-bar__LeftHeader__List__IconList
        = icon('far', 'edit', class: 'icon')
        = icon('fas', 'cog', class: 'icon')
  
  .Side-bar__GroupList
    .Side-bar__GroupList__Group

      .Side-bar__GroupList__Group__GroupName
        %p techcamp
      .Side-bar__GroupList__Group__GroupMessage
        まだメッセージがありません

      .Side-bar__GroupList__Group__GroupName
        %p techcamp
      .Side-bar__GroupList__Group__GroupMessage
        まだメッセージがありません
